.welcome-message{
    font-size: 2.5em;
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
.login-prompt {
    font-size: 2.5em;
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}